@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flex-center {
        @apply flex justify-center items-center
    }

    .gradient-text {
      @apply text-transparent bg-gradient-to-r from-purple to-greenfluo bg-clip-text
    }

    .gradient-btn {
      @apply bg-gradient-to-r from-purple to-greenfluo
    }

    .section-title {
      @apply tracking-wide uppercase text-4xl
    }

    .label-auth {
      @apply absolute rounded-md text-sm bg-blacklight text-graylight peer-focus:text-white duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1
    }
}

html, body {
  color: white;  
  background-color: #010001;
  scroll-behavior: smooth;
}

/* Removing input background colour for Chrome autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

/* Input required
input[required] + label:after {
	content: '*';
  margin-left: 2px;
	color: red;
  } */
  
 